.profileNavLink{
    background-color:#325229;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 9px 13px;
    margin: 30px;
    border-radius: 1.5px;
        
}